# Sample environment variables file
# Rename this file to .env and add your actual values

# SendGrid API Key for sending emails
SENDGRID_API_KEY=Enter_your_API_Key

# Do not commit the actual .env file with your real API key to version control